<div class="header">
    <div>
      <h2>Thursday, <span>10th</span></h2>
      <p class='month'>December</p>
    </div>
    <div class='tasksCount'>
        <span>{{count}}</span> Tasks
    </div>
  </div>