<div class="content">
    <ul>
        <li *ngFor="let task of taskService.tasks" class='taskBox'>
            <div class="taskItem">
                <input type="checkbox" [checked]="!task.Active" (change)="onChange(task.ID)" />
                <p
                    class="task"
                    [ngClass]="{'done': !task.Active}"
                    (dblclick)="deleteTask(task.ID)"
                >
                    {{task.Task}}
                </p>
                <p>{{task.Time}}</p>    
            </div>
        </li>
    </ul>
</div>