<div class="modal" (click)="tasksService.closeModal()">
    <div class="modal_content" (click)="onClick($event)">
        <h3>
            Add new task
        </h3>
        <form class='modal_form'> 
            <input class="modal_input" placeholder="Enter new task" [(ngModel)]="task" [ngModelOptions]="{standalone: true}" required/>
            <div class="modal_time">
                <p>Spesify time: </p>
                <input type='number' class="modal_input" placeholder="00" [(ngModel)]="hours" min={0} max={12} [ngModelOptions]="{standalone: true}" required/>
                <p> : </p>
                <input type='number' class="modal_input" placeholder="00" [(ngModel)]="minutes" min={0} max={60} [ngModelOptions]="{standalone: true}" required/>
                <select class="modal_input" name="meridiem" [(ngModel)]="meridiem" [ngModelOptions]="{standalone: true}">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>                    
            </div>
            <div class="modal_buttons">
                <button (click)="tasksService.closeModal()">Cancel</button>
                <button (click)="onAdd()">Add</button>                    
            </div>
        </form>
    </div>
    
</div>