@import '../../app.component.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid $secondaryGrey;
    border-radius: 5px;
    box-shadow: -2rem 2rem 2rem rgba(#000, 0.2);
}

.modal_content {
    width: 30%;
    min-width: 350px;
    padding: 20px 0;
    margin: 20% auto;
    background-color: #fff;
}

.modal_form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h3 {
    border-bottom: 1px solid $secondaryGrey;
    padding: 1rem;
    margin: 0;
    color: $primaryBlue;
}

.modal_input {
    height: 2rem;
    margin-bottom: 1rem;
    padding: 5px;
    border: 1px solid $secondaryGrey;
    border-radius: 5px;
}

.modal_time {
    display: flex;
    flex-direction: row;
    color: $primaryGrey;
    font-size: small;
    justify-content: center;
}

.modal_time input {
    width: 3rem;
    margin: 0 0.5rem;
}

.modal_time p {
    line-height: 2rem;
    text-align: center;
}

select.modal_input {
    height: 2rem;
    cursor: pointer;
}

.modal_buttons {
    @include flex-space-between;
    margin-top: 2rem;
}

.modal_buttons button {
    width: 5rem;
    height: 2rem;
    border: 1px solid $secondaryGrey;
    border-radius: 5px;
    font-family: inherit;
    color: $primaryGrey;
    cursor: pointer;
    &:last-child {
        background-color: $primaryRed;
        color: #fff;
    }
}