<div class="app">
  <div class="container">
    <app-header [count]="tasksService.tasks.length"></app-header>
    <button
    class="btn"
    (click)="tasksService.openModal()"
    >
      +
    </button>
    <app-content *ngIf="tasksService.tasks.length >= 1; else elseBlock"></app-content>
    <ng-template #elseBlock>
      <p>Your ToDo list is empty. Create first task!</p>
    </ng-template>
    <div *ngIf="tasksService.showModal">
      <app-modal></app-modal>
    </div>
  </div>
</div>